// Navigation code here
nav{
    width:100%;
    padding: 2%;
    margin: 0% auto;
    display: flex;
    .flexJustification(space-evenly, center);
    background-color: @nav-bg;
    a{
        color: @nav-font;
        .flexFlowDirection(row,row);
        text-decoration: none;

    }
}